# FastAPI
fastapi[all]
uvicorn

# Postgres
sqlmodel
psycopg2-binary # For performing the actual connections to database (dependency of sqlmodel) - Change if using different database than postgres

# Uploads
jsonschema # For validating structure of json objects
email-validator
#python-magic # For checking/generating file mimes

# Thumbnails
moviepy # For generating thumbnails for videos
pillow # For .gif thumbnail generation

# Auth and passwords
passlib[argon2] # Passwords and hashing
pyjwt # JSON tokens for state-less rest api

# Other
python-multipart # So FastAPI can receive files
python-dotenv # For better management of env variables
aiofiles # For receiving and writing files in chunks